.razdel2 {
    display: flex;
    flex-direction: row;
    width: 51.15vw;
    height: 3.4vw;
    justify-content: space-between;
    margin: 1vw auto;
    /* background: gray; */
}
.razdel2 a {
    width:11.6vw;
    height: 2.2vw;
    font-family: "Oswald";
    font-style: normal;
    font-size: 1.46vw;
    font-weight: 300;
    color: white;
    letter-spacing: 0.04vw;
    background-size: cover;
    line-height: 1.8vw;
    text-decoration: none;
    text-align: center;
}
.week2 {
    margin-top: 0.6vw;
    background-image: url('../images/w1.svg');
}
.fest2 {
    margin-top: 0.6vw;
    background-image: url('../images/fest.svg');
}
.door2 {
    margin-top: 0.6vw;
    background-image: url('../images/od.svg');
}
.bo2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 93.23vw;
    height: 45.77vw;
    margin: 0 auto;
    /* background: green; */
}
.pla4 {
width: 29.79vw;
height: 41.67vw;
background-image: url('../images/n1.svg');
background-size: cover;
}
.pla4:hover {
    background-image: url('../images/gs3.svg');
}
.pla5 {
    width: 29.79vw;
    height: 41.67vw;
    background-image: url('../images/n2.svg');
    background-size: cover;
}
.pla5:hover {
    background-image: url('../images/gs2.svg');
}
.pla6 {
    width: 29.79vw;
    height: 41.67vw;
    background-image: url('../images/n3.svg');
    background-size: cover;
}
.pla6:hover {
    background-image: url('../images/gs1.svg');
}
    